@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
body{
    overflow-x: hidden;
    height: 100vh;

}

/* ---------------------modal------------ */
.overlay-modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    z-index: 99;
 }
 .overlay-modal.open{
    display: block;
 }


.fecharModal{
    position: absolute;
    right: 1px;
    top: -3px;
    font-size:25px;
    color: #f52f0c;
    padding: 5px;
    z-index: 20;

}

.modal{
    opacity: 0;
    position: relative;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background: #fff;
    z-index: 150;
    border-radius: 8px;
    padding: 10px;
    pointer-events: none;
    transition: opacity 0.6s ease, transform 0.6s ease;

}
.modal.visible{
    opacity: 1;
    position: relative;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background: #fff;
    z-index: 150;
    border-radius: 8px;
    padding: 10px;
    pointer-events: auto;

}

.modal .modal-img {
    width: 60%;
    height: 100%;
}



.modal .modal-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal .modal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 30px 2%;
    position: relative;
}

.modal .modal-info .modal-description{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #00000075;
    margin-bottom: 10%;
}

.modal .modal-info .modal-price{
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #00000075;
    margin-bottom: 2rem;
}

.modal .modal-info button{
    position: absolute;
    bottom: 10%;
      appearance: none;
      background-color: #2ea44f;
      border: 1px solid rgba(27, 31, 35, .15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      padding: 6px 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
    
}


    
.modal .modal-info button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.modal .modal-info button:hover {
  background-color: #2c974b;
}

.modal .modal-info button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.modal .modal-info button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.modal .modal-info button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.modal .div-contador{
    display: flex;
    align-items: center;
    

   
}

.modal .div-contador .decrease,.increase{
    font-size: 20px;
    padding: 5px 15px;


}







/* ---------------------modal------------ */


/* ---------------------carrinho----------------- */

/* Estilo geral do carrinho */
.menu-carrinho {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

/* Mostrar carrinho quando aberto */
.menu-carrinho.ativo {
    right: 0;
}

/* Fechar carrinho */
#fechar-carrinho a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}

#fechar-carrinho {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/* Título */
.menu-carrinho h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    color: #222;
}

/* Itens no carrinho */
#carrinho-itens {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}

/* Total */
#valor-total, #taxa-entrega {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-top: 10px;
    text-align: center;
}

/* Inputs e Formulário */
.nome-input,
.ende-obs,
#valorPago {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Rádio buttons */
#formPagamento {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    
}

#formPagamento label {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

/* Troco */
#troco {
    display: none;
    margin-top: 10px;
}

/* Chave Pix */
.copiar-chave {
    display: none;
    text-align: center;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Botão de Finalizar */
#finalizar-compra {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s;
}

#finalizar-compra:hover {
    background: #218838;
}

/* Mensagem de sucesso */
.mensagem {
    display: none;
    text-align: center;
    background: #ffc107;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Botão de abrir carrinho */
.btn-toggle-carrinho {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #ff4500;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
}
.btn-toggle-carrinho.cheio {
    display: block;
}

.btn-toggle-carrinho:hover {
    background: #e03e00;
}

.overlay-carrinho{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #000000c0;
    z-index: 999;
}
.overlay-carrinho.enable{
   right: 0;
}

/* Responsivo */
@media (max-width: 400px) {
    .menu-carrinho {
        width: 100%;
    }
}





/* ---------------------carrinho----------------- */


.menu-mobile{
    display: none;
}

/* ------------menu-span----- */
.menu-span{
    display: none;
    flex-direction: column;
    gap: 5px;
}
.menu-span span{
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: #000080;
}

/* ------------menu-span----- */


/* ------topo--------- */
.topo{
    width: 100%;
    height: auto;
    max-height: 100px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background-color:#FF6347;
    margin-bottom: 20px;
}


.topo .menu-desktop ul{
    display: flex;
    list-style: none;
    gap: 10px;

}

.topo .menu-desktop ul li{
    padding: 5px 15px;

}

.topo .menu-desktop ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: transform .2s ease-in-out;

}
.topo .menu-desktop ul li a:hover{
    transform: scale(1.1);
    text-decoration: underline;

}
.topo .logo{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
.topo .logo span{
    color: #000080;
    font-size: 27px;
    font-weight: 900;
}
/* ------topo--------- */

/* -------------banner-------------- */
.banner{
    width: 100%;
    min-height: 600px;
    position: relative;
    background-color: #000000c0;
}
.banner img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.banner .box-banner{
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.banner .box-banner h1{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding: 20px 10px;

}
.banner .box-banner button{
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background-color: #FF6347;
    transition: transform .2s ease-in;
    cursor: pointer;

}
.banner .box-banner button:hover{
    transform: scale(1.1);
    box-shadow:0 0 10px 2px #FF6347;
   

}

/* -------------banner-------------- */

/* -------------Botoes---------- */
.botoes{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 3rem;
    overflow-x: auto;

}
::-webkit-scrollbar {
    display: none;
}
.botoes .box-botoes{
    padding: 10px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.botoes .box-botoes button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 8px;
    background-color: #f52f0c;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.botoes .box-botoes button i{
    font-size: 35px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

/* -------------Botoes---------- */

.sub-titulo{
    text-align: center;
    padding: 30px 0;
}  

/* -------------massa muscular---------- */
.massa-muscular{
    width: 100%;
    padding: 20px 2%;
}
.sub-titulo{
    text-align: center;
    padding: 30px 0;
}

.suplementacao {
    margin-top: 3rem;
    background:#000000c0 ;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: relative;
    box-shadow: 0 0 10px 10px #0000005d;
}

.suplementacao img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    z-index: -1;
}

.suplementacao .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.suplementacao h2 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 10px;
}

.suplementacao p {
    color: #fff;
    width: 60%;
    margin-top: auto;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
}

/* -------------massa muscular---------- */

/* -------------swiper---------- */
.swiper {
    width: 95%;
    height: 450px;
}
.swiper-wrapper{
    margin: 0;
    gap: 1px;

}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    padding: 10px 8px;
    background: transparent;
    margin: 0;
   
}
.swiper-slide .box-img{
    width: 100%;
    height: 60%;
}
.swiper-slide .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.div-swiper{
    width: 100%;
    height: 100%;
    border: 1px solid #0000007e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide .div-swiper p{
    color: #000;
    font-weight: 600;
    padding: 10px 8px;
    font-size: 15px;
}
.swiper-slide .div-swiper button{
    border: none;
    padding: 10px 8px;
    color: #fff;
    background-color: #f52f0c;
    border-radius: 5px;
    cursor: pointer;
}

#banner-slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(180deg, #000080, #000);

}

.splide__slide img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}



/* -------------swiper---------- */

/*  -----------------bos-energia ---------- */
.box-energia {
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 4%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.box-energia img {
    width: 50%;
    border-radius: 10px;
}

.box-energia .texto {
    padding: 0 8px;
    width: 50%;
}

.box-energia h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 15px;
}

.box-energia p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0;
}
.box-energia button{
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: #FF6347;
    transition: transform .2s ease-in;
}

.box-energia button:hover{
transform: scale(1.1);
    box-shadow:0 0 10px 2px #FF6347;

}

/* -------------top vendido  ------------ */
.top-vendidos h2{
    padding: 30px 0;
    text-align: center;
    margin-top: 3rem;
  
}
.top-vendidos{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.top-vendidos .container-topvendidos{
    width: 100%;
    height: auto;
    padding: 10px 4%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto ;
    gap: 10px;
   

}

.top-vendidos .container-topvendidos .box-vendidos{
    width: 300px;
    height: 350px;
    padding: 10px 0;
    background: linear-gradient(180deg, #000080, #000000dc);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
   

    
}


.top-vendidos .container-topvendidos .box-vendidos img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
.top-vendidos .container-topvendidos .box-vendidos p{
    color: #fff;
    padding: 10px 0;
    
}

.top-vendidos .container-topvendidos .box-vendidos button{
    
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #f52f0c;
    cursor: pointer;

    
}


.suplementacao-emagrecimento {
    margin-top: 3rem;
    padding: 50px 20px;
    color: #000;
    background-color: #0000004b;
}

.suplementacao-emagrecimento .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.suplementacao-emagrecimento .content {
    flex: 1;
}

.suplementacao-emagrecimento h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.suplementacao-emagrecimento p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.suplementacao-emagrecimento .image {
    flex: 1;
    text-align: center;
}

.suplementacao-emagrecimento .image img {
    max-width: 100%;
    border-radius: 10px;
}


.footer {
    background: linear-gradient(180deg, #000080, #000);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.footer h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer p {
    font-size: 1rem;
    line-height: 1.5;
}

.social {
    flex: 1;
}

.social .social-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    background: #fff;
    color: #f52f0c;
    font-size: 1.2rem;
    transition: 0.3s;
}

.social .social-btn:hover {
    background: #ffcc00;
    color: #000;
}

.address {
    flex: 1;
}

.motivation {
    flex: 1;
    font-style: italic;
}

/* Créditos */
.credits {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.9rem;
    color: #ccc;
}

.credits strong {
    color: #ffcc00;
}

/* Responsivo */
@media (max-width: 1000px) {

    /* -------------menu-mobile------- */
.menu-desktop{
    display: none;
}

.menu-span{
    display: flex;
}

.menu-mobile{
    display: flex;
    position: fixed;
    background-color: #FF6347;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    transition: .5s;
}
.menu-mobile.show{
    display: flex;
    position: fixed;
    background-color: #FF6347;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;
}
.menu-mobile nav{
    width: 100%;
}

.menu-mobile ul{
    list-style: none;
    width: 100%;
    padding-top: 10px;
   
}
.menu-mobile ul li{
   width: 100%;
   padding: 8px 15px;
   
}
.menu-mobile ul li:hover{
    background-color: #f52f0c;
    
 }
 .menu-mobile ul li a{
   text-decoration: none;
   text-align: right;
   display: block;
   color: #fff;
   font-weight: 500;
   white-space: nowrap;
    
 }

 .menu-mobile nav i{
    padding: 10px;
    font-size: 34px;
    color: #000080;
    
 }

 .overlay-menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    z-index: 99;
 }
 .overlay-menu.open{
    display: block;
 }



    /* -------------menu-mobile------- */

   /* -------------banner-------------- */
.banner{
    width: 100%;
    min-height: 250px;
    position: relative;
    background-color: #000000c0;
}

.banner .box-banner{
    white-space: wrap;
    width: 100%;
    text-align: center;
    padding: 0 2%;
    
}

.banner .box-banner h1{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 10px;

}

.banner .box-banner button{
   
    padding: 10px 15px;
    
    font-size: 12px;
    font-weight: 400;

}



/* -------------banner-------------- */
.section-botoes{
    padding: 0 2%;
    width: 100%;
}


.botoes .box-botoes{
    width: 100%;
    white-space: nowrap;
    

}

.botoes .box-botoes button{
    width: 80px;
    height: 80px;
    
}

/* -------------Botoes---------- */

/* -------------massa muscular---------- */
.suplementacao {
    width: 100%;
    height: 300px;
   
}

.suplementacao h2 {
    font-size: 20px;
}

.suplementacao p {
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;

}


.box-energia {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
}

.box-energia img {
    width: 100%;
    border-radius: 0;
}

.box-energia .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.box-energia p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.box-energia button{
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    
}

#banner-slider {
    width: 100%;
    height: 300px;
   

}

.splide__slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* -------------top vendido  ------------ */

.top-vendidos .container-topvendidos{
    width: 100%;
    height: auto;
    padding: 0 2%;

}

.top-vendidos .container-topvendidos .box-vendidos{
    width: 100%;
    height: 300px;
    padding: 10px 8px;
    

    
}

.top-vendidos .container-topvendidos .box-vendidos img{
    object-fit: cover;
    width: 140px;
    height: 140px;
  
}


.suplementacao-emagrecimento {
    margin-top: 3rem;
    padding: 8px 15px;
    color: #000;
    background-color: #0000004b;
}

.suplementacao-emagrecimento .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.suplementacao-emagrecimento h2 {
    font-size: 1rem;
    margin-bottom: 15px;
}

.suplementacao-emagrecimento p {
    font-size: 12px;
    line-height: 1.5;
}


/* -------------massa muscular---------- */




    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .social-btn {
        width: 50px;
        height: 50px;
    }


    .modal.visible{
        opacity: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 85%;
        height: 90%;
        background: #fff;
        z-index: 150;
        border-radius: 8px;
        padding: 10px;
        pointer-events: auto;
    
    }
    
    .modal .modal-img {
        width: 100%;
        height: 50%;
    }
    
    
    
    .modal .modal-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .modal .modal-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 30px 2%;
        position: relative;
    }
    
    .modal .modal-info .modal-description{
        width: 100%;
        padding: 5px;
        font-size: 20px;
        font-weight: 400;
        border-bottom: 1px solid #00000075;
        margin-bottom: 10%;
    }
    
    .modal .modal-info .modal-price{
        padding: 5px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid #00000075;
        margin-bottom: 1rem;
    }
    .modal .div-contador{
        display: flex;
        align-items: center;
        
    
       
    }
    
    .modal .div-contador .decrease,.increase{
        font-size: 20px;
        padding: 5px 20px;
    
    

    }

    
}

@media (max-width:480px){
    #banner-slider {
        width: 100%;
        height: 200px;
       
    
    }
    
    .splide__slide img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
}
